.title {
    color: rgb(26, 26, 65);
    text-align: left;
    padding-left: 15px;
    font-size: 18px;
}

.content {
    padding: 8px;
    text-align: left;
}

.article {
    max-width: 350px;
    max-height: auto;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
}

.img {
    max-height: 350px;
    max-width: 350px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.descripcion {
    color:cadetblue;
    text-align: left;
    padding: 5%;
    font-size: small;
}

.precio {
    padding: 5%;
}

.article .boton{
    align-items: end;
}